.secOne {
    background-image: url(/img/Bitmap_o.svg);
    height: 600px;
    color: #FEFCF7;
    border-radius: 12px;
    padding: 60px;
    margin-bottom: 100px;  
}

.secOne h2{
    font-size: 72px;
    line-height: 72px;
    width: 530px;   
}

.secOne p {
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 445px;
    margin-bottom: 56px;
}